const firebaseConfig = {
  apiKey: "AIzaSyDGKfuSp9bN39bCjous5PTHxJSdOXZur5A",
  authDomain: "scoreautomation-45671.firebaseapp.com",
  databaseURL: "https://scoreautomation-45671-default-rtdb.firebaseio.com",
  projectId: "scoreautomation-45671",
  storageBucket: "scoreautomation-45671.firebasestorage.app",
  messagingSenderId: "765157505083",
  appId: "1:765157505083:web:c8b1bcdb587d1501b0041e",
  measurementId: "G-7V8K28WJB1"
};